# Node.js
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/
out/

# Coverage directory used by testing tools
coverage/

# Environment variables
*.env
**/.env

# Logs
logs/
*.log

# Cache
.cache/

# MacOS
.DS_Store

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Operating System files
Thumbs.db
Desktop.ini

# Ignore production artifacts
*.tgz