body {
    background-color: whitesmoke;
    background-image: url("./assets/sfondo.svg");
    background-repeat: no-repeat;
}

.btn {
    background-color: #03989e;
    border-color: #03989e;
}

.btn:hover{
    background-color: #22aeb3;
    border-color: #0e5e61;
}

.leaflet-container {
    width: 100% !important;
    height: 400px !important;
    border-radius: 10px;
}

